/* index.css */
.App {
  background-color: aqua;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.task-manager {
  width: 300px;
  margin: auto;
}

.task-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-form input {
  width: 70%;
  padding: 5px;
}

.task-form button {
  background-color: cadetblue;
  color:white;
  padding: 5px;
  width: 25%;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.task-item.completed span {
  text-decoration: line-through;
  color: gray;
}

.task-item button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.task-item button:hover {
  background-color: darkred;
}
